body {
    background-color: #FEF2EF;
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 0px;
    grid-gap: 10px;
}

.main-left-block {
    background: #FFE4DC;
    height: 1000px;
    padding-right: 10px;
    padding-left: 10px;
}

header {
    background: #000;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.right-menu {
    background-color: blue;
}

header, .right-menu {
    height: 250px;
}

.header-div, .user-tab-info {
    margin: 2px;
    background-color: #FDD893;
}
.user-tab-info {
    margin: 3px;
}

.header-div {
    margin-right: 0px;
    background-color: #FFDBD1;
}

.news-block{
    height: 1000px;
    margin: 20px 30px 30px 30px;
    background: #FFB17C;
}
